<!DOCTYPE html>
<html>
<head>
  <title>CloutBout</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "cloutbout" %>
  <%= stylesheet_link_tag "cb" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <link rel="apple-touch-icon" href="img/iphone_icon.png"/> 
  <link rel="apple-touch-startup-image" href="img/cb_splash.png"> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
</head>
<body>
  <%= yield %>
</body>
</html>
